@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f0fdf4;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #f0fdf4;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: red !important;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}